body{
    margin: 50px;
}

:root{
    --cards:4;
    --cardHeight: 50vh;
    --cardTopPadding: 1.5em;
    --cardMargin: 4vw;
}

section{
    font-size: 1.5rem;
    margin-inline: auto;
    width: min(60ch, 100%);
}

.container{
    width: 90%;
    margin: 0 auto;
}

#cards{
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    padding-bottom: var(--cardMargin);

}

#card1{
    --index:1;
}
#card2{
    --index:2;
}
#card3{
    --index:3;
}
#card4{
    --index:4;
}


.esse{
    animation: apper 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

@keyframes apper {
    from{
        opacity: 0;
        transform: translateX(-100vw);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}
